RewriteEngine On

# Si le fichier ou dossier existe, on ne fait rien
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on redirige tout vers index.php
RewriteRule ^ index.php [QSA,L]